@model GameAndHang.Models.Review

@{
    ViewBag.Title = "Success";
}
    <body>
        <h2 align="center">Thank you for leaving feedback</h2>
        <div class="container" align="center">
            <button class="button">
                @Html.ActionLink("Home Page", "Index", "Home", null, new { @class = "my-class" })
            </button>
            <button class="button">
                @Html.ActionLink("Back to Events", "Index", "Events", null, new { @class = "my-class" })
            </button>
        </div>

    </body>

    <link href="~/Content/Success.css" rel="stylesheet" />
