@{
    ViewBag.Title = "Home Page";
}
    <body id="body">
        <div class="container-fluid">
            <div class="row">
                <h1 id="title">DBD Swim Tracker <img src="~/Content/Images/chart.jpg" width="50" height="50" /></h1>
                <p id="hometext">
                    A premier tool for coaches and athletes, powered by analytics.
                </p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <img src="~/Content/Images/swimmer.jpg" width="400" height="200" id="swimmer" />
            </div>
        </div>
    </body>