@{
    ViewBag.Title = "Home Page";
}
    <body id="body">
        <div class="container-fluid">
            <div class="row">
                <h1 id="title">DBD Swim Tracker <img src="https://cdn.discordapp.com/attachments/663803293801381925/671151185046142998/chart.jpg" width="50" height="50" /></h1>
                <p id="hometext">
                    A premier tool for coaches and athletes, powered by analytics.
                </p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <img src="https://cdn.discordapp.com/attachments/663803293801381925/671151017991208983/swimmer.jpg" width="400" height="200" id="swimmer" />
            </div>
        </div>
    </body>