body {
    background-color: #93b7b6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%238eb0b1' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2388a9ab' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2383a3a6' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%237d9ca0' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2378959b' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.card {
    background-color: #08415C;
    color: white;
    padding: 8px;
    border-style: solid;
    border-color: white;
    border-width: 2.8px;
    border-radius: 5%;
    text-align: center;
    margin-top: 10px;
}

#Title {
    border-style: solid;
    border-color: white;
    border-width: 2.8px;
}



#GameOverview {
    text-align: center;
}


span.stars, span.stars span {
    display: block;
    background: url(stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

    span.stars span {
        background-position: 0 0;
    }
