@model GameAndHang.Models.EventPlayer

@{
    ViewBag.Title = "Success";
}

<h2 align="center" style="padding-top: 20px">You have successfully signed up for this event! Have fun and be safe gamer.</h2>
<br />
<p align="center">
    @Html.ActionLink("Back to Events", "Index", "Events")
</p>

