@{
    ViewBag.Title = "About";
}


<body>

    <br />

    <div class="jumbotron"style="background-color:#08415C; color: white">
        <h1>DAD-Bod-Development &#39;Game &amp; Hang&#39;</h1>
        <blockquote>
            <p>DAD-Bod Development is creating a unique web-based application that allows users to create and join tabletop gaming events.</p>
        </blockquote>

        <h2>Vision Statement</h2>
        <blockquote>
            <p>For people that like to play tabletop games who want to be able to find others with similar interests the ‘Game &amp; Hang’ site is a web-based application that lets tabletop gamers set up events as well as find events that others have posted publicly. Unlike similar sites our product is specialized toward tabletops and ensuring the safety of our users while helping the tabletop gaming community to grow.</p>
        </blockquote>

        <h2>The product is centered around three core features:</h2>
        <blockquote>
            <p>1) The ability to create and customize dynamic gaming events at public or private locations. This includes several features that would include multiple pages, user accounts and various controller methods.</p>
            <p>2) Provide an easy and safe method for users to find and join tabletop gaming events. These events will have multiple dependencies such as: host, host reviews, location, and event date/time. This feature will also include other possible criteria as the solution continues to develop. This feature will require multiple algorithmic components and a third-party API.</p>
            <p>3) Allows users to easily add friends. The solution will also require a third-party API to allow users to chat to their friends and invite them to events.</p>
        </blockquote>

        <h2>Dad-Bod-Development Members:</h2>
        <ul>
            <li>Kyle Short -- <a href="https://github.com/ksh0rt">GitHub Profile</a></li>
            <li>Walker Mitchell -- <a href="https://github.com/walkermitchell">GitHub Profile</a></li>
            <li>Jacob Wiederhold -- <a href="https://github.com/JacobW1997">GitHub Profile</a></li>
        </ul>
    </div>
</body>

<link href="~/Content/EventsList.css" rel="stylesheet" />