@{
    ViewBag.Title = "Home Page";
}
    <body>
        <div class="jumbotron" style="background-color:#08415C">
            <h1 style="text-align:center; font-size:55px; color:white">Game &amp; Hang</h1>
            <p style="text-align: center; font-size: 22px; color: white" class="lead">Friends, Family and Tabletop Games</p>
        </div>

        <div class="row">

            <div class="col-md-3">
                <img src="https://cdn.discordapp.com/attachments/664532703064096797/678761117878714378/boardGame.jpg" style="width:360px;height:280px; justify-items:end;  border-radius: 5%; " id=""  />
            </div>
            <div class="col-md-6" style="margin-left: 100px; margin-top:80px; color: white;">
                <h2>Events</h2>
                <p>The Events page contains events that have been created and hosted by users.</p>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6 rounded" style="margin-top:80px;color: white;">
                <h2>Codex</h2>
                <p>
                    The Codex contains a list of all games that we currently support.
                </p>
            </div>
            <div class="col-md-3 rounded" style="margin-left:140px">
                <img src="https://cdn.discordapp.com/attachments/664532703064096797/678763504202940456/book.jpeg" style="width:360px;height:280px; justify-items:end; border-radius: 5%" />
            </div>

        </div>
    </body>

<style>
    body{
        background-color: #93B7BE;
        color: white;
    }
</style>